.save-button {
    width: 30px;
    height: 30px;
    margin: 15px 20px;
    border-radius: 50%;
    text-align: center;
  }

.entry {
  border-color: black;
  border-radius: 5%;
  background-color: #ebebeb;
  text-align: left;
}

.entry-text {
  text-align: left;
}

.favicon-img {
  height:20px;
  width:20px; 
}

.hyperlink {
  text-decoration: none;
  color: black;
}
