.save-button {
  width: 30px;
  height: 30px;
  margin: 15px 20px;
  border-radius: 50%;
  text-align: center;
}

.ent {
  display: flex;
  flex-flow: column nowrap;
  padding: 12px;
  gap:5px;
  border-radius: 5%;

  .withb{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    .hyperlink {
      text-decoration: none;
      color: black;
      width: 100%;
    
      .entry {
        text-align: left;
        background-color: #ebebeb;
        display: flex;
        flex-flow: column nowrap;
        padding: 12px;

        .prof{
          display: inline-flex;
          flex-flow: row nowrap;
          align-items: center;

          .favicon-img {
            height: 30px;
            width: 30px; 
            padding: 5px;
            object-fit: cover;
          }
      
          .ti {
            display: flex;
            flex-flow: column nowrap;
    
            .title {
              text-align: left;
            }
          }
        }
      }
    }

    .but{
      border: none;
      background-color:#ebebeb;
    }
    .but:hover{
      background-color:#b1b1b1;
    }
  }
}

.url {
  padding-left:40px;
}

p {
  margin: 0px;
}






